

<div class="container">
    <div class="row">
      <% records.forEach((record) => { %>
        <% if (record.quantity>0 ) { %>
          <div class="card col-3 product" style="width: 18rem;">
            <img src="data:image/png;base64,<%= record.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= record.name %></h5>
              <p class="card-text">Price: <%= record.price %></p>
              <a href="/add-to-cart/<%= record._id %>" class="btn btn-primary" style="background-color: #e094bf; border-color: #e094bf;">Add to Cart</a>
            </div>
          </div>   
        <% } %>  
      <% }); %>
    </div>
  </div>
  