<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <h2 class="text-center">Login</h2>
            <form method="POST" action="">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary" style="background-color: #e094bf; border-color: #e094bf; margin-top: 10px;">Sign In</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <a href="/register" style="color: black;">Create Account</a>
            </div>
        </div>
    </div>
</div>
