
    <div>
        <div class="delivery">
            <p class="del">FREE DELIVERY ON ORDERS ABOVE 4000/-PKR</p>
        </div>
        <!-- Carousal -->
        <div>
            <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                  <div class="carousel-item active carousel1">
                    <img  src="\images\pic1.webp" class="d-block w-100 " alt="...">
                  </div>
                  <div class="carousel-item carousel1">
                    <img  src="\images\pexels-solodsha-8105118.jpg" class="d-block w-100 " alt="...">
                  </div>
                  <div class="carousel-item carousel1">
                    <img  src="\images\pic2.webp" class="d-block w-100 " alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <!-- <div id="welcome">
                <p>Welcome </p>
              </div> -->
        </div>
        <!-- Card -->
        <!-- <div class="card">
            <div class="cardContainer">
              <div class="textdiv">
                <p class="text">sale</p>

              </div>
            
            </div>
        </div> -->
        <div class="delivery">
          <p class="del1">Feautured Product</p>
        </div>
        <div class="row">
          <% records.forEach((record) => { %>
            <div class="card col-3" style="width: 18rem;">
              <div class="card-body">     
                <img class="card-img-top" src="data:image/png;base64,<%= record.image %>" alt="...">
                <h5 class="card-title"><%= record.name %></h5>
                <p class="card-text">Price: <%= record.price %> </p>
                <a href="/add-to-cart/:id" class="btn btn-primary" style="background-color:#bea571; border: #bea571; color: white;">Add to Cart</a>
              </div>
            </div>
          <% }); %>

          <div class="text-center mt-3">
            <a href="/shop" style="color: black;">SHOW MORE</a>
        </div>

        </div>
        
       
    </div>
    
