
.delivery{
    display: flex;
    width: 100%;
    background-color: #bea571;
    border: 1px solid #bea571;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding-top: 8px;
}

.del{
    color: white;
}
a{
    color: white;
}
.del1{
    color: black;
    font-size: large;
    font-weight: 600;
}
li ion-icon{
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}
.shop{
    display: flex;
    margin-left: 320px;
    
}

.nav-link1{
    width: 110px;
    justify-content: center;
    display: flex;
}
.carousel1 {
    height: 500px;
    width: 1400px;
  }
.carousel1 img{
    width: 100%;
    height: 90vh;
    
}
/* #welcome{
    margin-top: -20px;
    background-color: green;
} */
.card{
    margin-bottom: 20px;
    margin-top: 20px;
}
.cardContainer{
    background-image: url("/images/pexels-photo-pendaant.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 270px; 
    width: 240px; 
}
.textdiv{
    border: 1px solid #bea571;
    background-color: #bea571;
    border-radius: 40%;
    padding-top: 40px;
}
.text{
    color: white;
    border: 1px solid #bea571;
    background-color: #bea571;
    border-radius: 40%;
    
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    width: 400px;
    padding: 20px;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 8px;
  }
  
  button[type="submit"] {
    background-color: #bea571;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  button[type="button"] {
    background-color: #bea571;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }