.App {
  text-align: center;
}

.head{
  /* background-color: #EBD54C; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures vertical centering */
  
}
.listDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px;

}
.li{
  margin-right: 8pc;
}
.iconContainer{
  gap: 10px;
}
.icon{
  color: black;
  margin-left: 1pc;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
